name: action1

on:
  push:
    branches:
      - alaa
      - reem

jobs:
  frontend-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Install Frontend Dependencies
      run: npm install
      working-directory: ./frontend

    - name: Run Frontend Lint
      working-directory: ./frontend
      run: npm run lint --if-present

    - name: Run Frontend Test
      run: npm test
      working-directory: ./frontend
      env:
        CI: true 

    - name: Install E2E Dependencies
      run: pip install python-dotenv selenium
      working-directory: ./frontend
      
    - name: Start App and Run E2E
      working-directory: ./frontend
      env:
        # Use 127.0.0.1 to avoid "localhost" IPv6 lookup issues
        FRONTEND_URL: http://127.0.0.1:3000
        BROWSER: none
      run: |
        npm start &
        PID=$!
        npx wait-on@7 http://127.0.0.1:3000
        echo "Running E2E Test..."
        set +e
        python e2e_test.py
        TEST_EXIT_CODE=$?
        set -e
        
        echo "Stopping React Server (PID: $PID)..."
        kill $PID
        
        exit $TEST_EXIT_CODE
        
  backend-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Backend Dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install pytest fastapi sqlalchemy python-dotenv httpx psycopg2-binary

      - name: Run Backend Test
        working-directory: ./backend
        env:
          # USE SECRETS HERE
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DATABASE_TEST_URL: ${{ secrets.DATABASE_TEST_URL }}
        run: pytest main_test.py