name: action1

on:
  push:
    branches:
      - alaa
      - reem

jobs:
  frontend-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Run Frontend Test
        run: node src/App.test.js
        working-directory: ./frontend
        
      - name: Run e2e Test
        run: python e2e_test.py
        working-directory: ./frontend
        
  backend-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install pytest fastapi sqlalchemy python-dotenv httpx psycopg2-binary

      - name: Run Backend Test
        working-directory: ./backend
        env:
          DATABASE_URL: "postgresql://neondb_owner:npg_5sBum8NIKCQy@ep-tiny-water-a4j49ifn-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
          DATABASE_TEST_URL: "postgresql://neondb_owner:npg_5sBum8NIKCQy@ep-tiny-water-a4j49ifn-pooler.us-east-1.aws.neon.tech/testting?sslmode=require&channel_binding=require"
        run: pytest main_test.py